SLACK_APP_TOKEN=xapp-
SLACK_BOT_TOKEN=xoxb-
# User token is needed for searching
SLACK_USER_TOKEN=xoxp-
# Team ID (workspace ID) for the admin.users API methods
SLACK_TEAM_ID=T0266FRGM
# Optional - defaults to 3000
PORT=3000
# Webhook for logging deactivations
DEACTIVATED_USERS_LOG_WEBHOOK_URL=https://
